
version: 2.1
orbs:
  docker: circleci/docker@0.5.19
  helm-tools: pennlabs/helm-tools@0.1.2

branch-filters: &branch-filters
  filters:
    branches:
      only:
        - master

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - docker/publish:
          cache_from: "pennlabs/website:latest"
          image: pennlabs/website
          tag: "${CIRCLE_SHA1},latest"
          context: docker-publish
          <<: *branch-filters
      - helm-tools/deploy:
          requires:
            - docker/publish
          context: k8s-deploy
          <<: *branch-filters
